/* hero section starts */
.hero_section {
  position: relative;
}
.hero_sec_flex {
  display: flex;
  justify-content: center;
}
.hero_section_text {
  max-width: 87.3rem;
  font-family: var(--font-monExtT);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: flex-end;
  margin: auto;
  padding-left: 3.6rem;
}
.hero_section_text h1 {
  line-height: clamp(2.1rem, 3.5vw, 4.03rem);
  font-size: clamp(1.85rem, 3.5vw, 3.35rem);
}
.hero_section_text strong {
  font-family: var(--font-monExtR);
}
.hero_section_text span:nth-child(3) {
  padding-left: 13.6rem;
}
.hero_section_text p {
  text-align: center;
  padding: 1.3rem 0 0 4.6rem;
}
.hero_section_bottom {
  padding-top: 1.85rem;
}
.ecommerce_button {
  display: flex;
  justify-content: flex-end;
}
.ecommerce_button span:first-child {
  font-family: var(--font-monExtT);
  font-size: 1.72rem;
  font-weight: 600;
}
.ecommerce_button span:last-child {
  font-family: var(--font-monExtB);
  font-size: 1.97rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.hero_section .scrollDownIcon {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: min-content;
  position: absolute;
  top: 90%;
  left: 5%;
}
.hero_section .scrollDownIcon svg {
  position: absolute;
}
.rotate {
  animation: loading 10s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.heroBlurBlu {
  position: absolute;
  background-color: var(--color-blue2);
  border-radius: 100%;
  filter: blur(7.6rem);
  height: 10.6rem;
  left: 18.6rem;
  top: 6.6rem;
  transform: translateY(50%);
  width: 8.5rem;
  z-index: -19;
}
.heroBlurYel {
  position: absolute;
  background-color: var(--color-yell);
  border-radius: 100%;
  filter: blur(9.6rem);
  height: 10.6rem;
  right: 0rem;
  bottom: -8.6rem;
  transform: translateY(50%);
  width: 16.5rem;
  z-index: -19;
}
/* ---- hero section ends ---- */
/* ---- video section starts ---- */
.videoSection {
  padding-top: 8.16rem;
  width: 100%;
}
.videoSection .container {
  width: 100%;
}
.video_image {
  position: relative;
}
.videoSection .video_image video {
  max-width: -webkit-fill-available;
  height: auto;
}
.video_play_btn #play_btn {
  position: absolute;
  top: 3.16rem;
  left: 3.72rem;
  border-radius: 50%;
  border: 1px solid #000;
  width: 74px;
  height: 74px;
  background: #cac6e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_play_btn #play_btn svg {
  width: 30px;
  height: 30px;
}
/* ---- video section ends ---- */
/* ---- service section starts ---- */
.serviceSection {
  padding-top: 8.72rem;
  position: relative;
}
.serviceSection .heroBlurBlu {
  position: absolute;
  top: 51rem;
  left: -1.3rem;
}
.serviceSection .container .service {
  display: flex;
  /*gap: 20rem;*/
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.serviceSection .container .service #imgDiv {
  position: sticky;
  top: 8.3rem;
}
.serviceSection .container .service .service_col2 h3 {
  padding-top: 2.975rem;
}
.service_col2 h4 {
  padding-bottom: 1.85rem;
}
.service_col2 li {
  line-height: 3.28rem;
}
.service_col2 li a:hover {
  color: var(--color-primary);
}
.service_col2 span {
  font-size: 1.475rem;
}
.service_col2 .services_development {
  padding-top: 4.35rem;
}
.service_col2 .services_marketing,
.service_col2 .services_design {
  padding-top: 3.725rem;
}
.services_design {
  padding-bottom: 4.625rem;
}
.getInTouch {
  display: flex;
  justify-content: flex-end;
}
.getInTouch a span:first-child {
  font-size: 2.1rem;
  font-weight: 600;
  font-family: var(--font-monExtT);
}
.getInTouch a span:last-child {
  font-size: 2.35rem;
  font-weight: 700;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}
/* ---- service section ends ---- */
/* ---- clients section start ---- */
.clientsSection {
  margin: 20rem 0;
  position: relative;
}
.clientsSection .sliderDiv {
  overflow: hidden;
}
.clientsSection .clientsWord {
  display: flex !important;
  gap: 7rem;
  margin: 0 0 10rem 0;
}
.clientsSection .quotesIcon {
  position: absolute;
  top: -5%;
  left: -6%;
}
.clientsSection .clientsWord .col {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.clientsSection .clientsWord .col1 {
  width: calc(80% - 3.5rem);
}
/*.clientsSection .clientsWord .col2 {
  width: calc(20% - 3.5rem);
}*/
.clientsSection .clientsWord .col1 .title,
.clientsSection .clientsWord .col1 .clientName {
  font-size: clamp(1.2rem, 3.5vw, 1.6rem);
}
.clientsSection .clientsWord .col1 .text {
  font-size: clamp(1.6rem, 3.5vw, 2.2rem);
}
.clientsSection .clientsWord .col2 b {
  font-size: clamp(1.6rem, 3.5vw, 2rem);
}
.clientsSection .clientsWord .col2 ul {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 1rem;
}
.clientsSection .clientsWord .col2 ul li {
  font-size: clamp(1.2rem, 3.5vw, 1.6rem);
  line-height: 3rem;
  border: 1.45985px solid #000000;
  border-radius: 13.1387px;
  padding: 0 1rem;
  white-space: nowrap;
  text-align: center;
}
.clientsSection .slick-dots {
  position: initial !important;
  margin-top: 5rem;
}
.clientsSection .slick-initialized .slick-slide {
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 70px !important;
  cursor: pointer;
}
/* ---- clients section ends ---- */
/* ---- portfolio grid starts----*/
.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.375rem;
  column-gap: 4.0625rem;
}
.titlePort h3 {
  padding-bottom: 5rem;
}
.cardImage img {
  width: 100%;
  height: 100%;
}
.cardContent {
  text-align: center;
  padding-top: 3.125rem;
}
.cardContent div {
  padding-top: 0.625rem;
}
.cardContent div span {
  padding: 0 0.625rem 0 0.4375rem;
}
.cardContent div span:not(:last-child) {
  border-right: 2px solid;
}
.portfolio .getInTouch {
  padding-top: 6.25rem;
}
.slider2 .slick-slide {
  opacity: 0.2 !important;
}
.slider2 .slick-current {
  opacity: 1 !important;
}
.slider2 .slick-current .icons {
  opacity: 1;
}
/* ---- portfolio grid ends----*/
@media screen and (max-width: 768px) {
  .hero_section {
    overflow-x: clip;
  }
  .hero_section_bottom {
    padding-bottom: 4.0625rem;
  }
  .hero_section .scrollDownIcon {
    display: none;
  }
  .hero_section .heroBlurBlu {
    left: -2rem;
    top: -20rem;
  }
  .hero_section .heroBlurYel {
    right: -9rem;
    top: -8rem;
  }
  .hero_sec_flex {
    justify-content: flex-start;
  }
  .hero_section_text {
    margin: 0;
    padding-left: 0;
    gap: 0.5rem;
  }
  .hero_section_text span:nth-child(3) {
    padding-left: 4.5rem;
  }
  .hero_section_text p {
    padding: 0;
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
  }
  .ecommerce_button span:first-child {
    font-size: 0.75rem;
  }
  .ecommerce_button span:last-child {
    font-size: 0.875rem;
  }
  .ecommerce_button span:last-child img {
    width: 1.865rem;
  }
  .videoSection {
    padding-top: 0;
  }
  .video_play_btn #play_btn {
    top: 1rem;
    left: 2rem;
    width: 46px;
    height: 46px;
  }
  .video_play_btn #play_btn svg {
    width: 16px;
    height: 16px;
  }
  .videoSection .container {
    padding: 0;
  }
  .serviceSection {
    padding-top: 4.375rem;
  }
  .serviceSection .container .service {
    gap: 2.875rem;
  }
  .service_col2 {
    width: 100%;
  }
  .service_col2 .h3 {
    font-size: 1.75rem;
    padding-top: 0;
  }
  .service_col2 .h4 {
    font-size: 1.375rem;
  }
  .service_col2 li {
    font-size: 0.875rem;
  }
  .getInTouch {
    justify-content: center;
  }
  .service_col1 {
    margin: 0 auto;
  }
  .service_col1 img {
    width: 334px;
    height: 196px;
  }
  .serviceSection .heroBlurBlu {
    top: 11rem;
  }
  .clientsSection .clientsWord {
    flex-direction: column;
    padding: 1rem 3.8rem;
  }
  .clientsSection .clientsWord .col1 {
    width: 100%;
  }
  .clientsSection .quotesIcon {
    top: -6%;
    left: 5%;
  }
  .clientsSection .quotesIcon svg {
    width: 90px;
  }
  /* portfolio section */
  .portfolio .container {
    padding: 0;
  }
  .portfolioGrid {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }
  .cardContent {
    padding-top: 1.25rem;
  }
}
